
@{
    ViewBag.Title = "Batasan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< Updated upstream
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg" alt="">
        </div>
        <p>
            Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
            constantly updated collection of beautiful svg images that you can use
            completely free and without attribution!
        </p>
        <a target="_blank" rel="nofollow" href="https://undraw.co/">
            Browse Illustrations on
            unDraw →
        </a>
    </div>
</div>

<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
=======
<div class="mapouter">
    <div class="gmap_canvas">
        <iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=qcu%20batasan&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to-org.blogspot.com"></a><br>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 996px;
                width: 988px;
            }
        </style><a href="https://google-map-generator.com"></a>
        <style>
            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 996px;
                width: 988px;
            }
        </style>
>>>>>>> Stashed changes
    </div>
</div>