
@{
    ViewBag.Title = "CoreValues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CoreValues</h2>

<div class="container-fluid">

    <!-- Page Heading -->
    
    <div class="row">

        <div class="col-lg-6">

            <!-- Core Values -->
            
                <div class="card-body">
                    <div class="custom-breadcrumns border-bottom">

                        <div class="container pt-4 mb-4">

                            <pre>
                                <p>
                                    E mbrace the
                                    

                                    N ew Normal with
                                    

                                    J ointness of Undertakings
                                    

                                    O rganizational Adaptability
                                    

                                    Y oke of efficiency and Effectiveness
                                </p>
                            </pre>


                        </div>
                    </div>
                </div>
            </div>
        </div>

