
@{
    ViewBag.Title = "MissionandVission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MissionandVission</h2>
<div class="card-body">
    <div class="custom-breadcrumn border-bottom">

        <div class="container pt-5 mb-5">


            <pre><p>MISSION</p>
            <left>
                <p>To provide a comprehensive education that enchances the lives of QCU students for nation building and as world citizen.</p>
        </div>
        </div>
    </div>

                <div class="card-body">
    <div class="custom-breadcrumn border-bottom">

        <div class="container pt-5 mb-5">

              <pre>  <left><p>VISION</p></left>
                <left><p> To be recognized as the #1 local University of employable graduates. </p></left>
                </pre>
        </div>
    </div>
</div>


