
@{
    ViewBag.Title = "UniversityHymn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UniversityHymn</h2>

<div class="container-fluid">

    <!-- Page Heading -->

    <div class="row">

        <div class="col-lg-6">

            <!-- Core Values -->

            <div class="card-body">
                <div class="custom-breadcrumns border-bottom">

                    <div class="container pt-4 mb-4">


                        <pre>
                            <p>QCPU HYMN</p>
                            <p>
                          
                            
                                 <p>
                              Dakila kang humubog ng dangal Dalisay na gabay sa pagaaral
                            </p>
                            Tagumpay ating ipinagdarasal

                            QCPU na pinakamamahal
                            
                            Sa pagsibol ng ating pagkatao

                            Bigyang liwanag at kulay ang mundo

                            Tahanan ka ng husay at talino Taglay ang pangarap ng Pilipino

                            Quezon City Polytechnic University

                            Pangalan ay laging aalagaan

                            Quezon City Polytechnic University

                            Sandigan ng ating kinabukasan

                            Sandigan ng ating kinabukasan

                            </p>
                        </pre>


                    </div>
                </div>
            </div>
        </div>
    </div>




